body,
div,
ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
  color: #036;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #b2c1d1;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 24px;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  padding-top: 10px;
  line-height: 17px;
}

h2,
h3,
h5 {
  padding:10px 5%;

}

.date-text {
  font-style: italic;
  font-size: 16px;
  line-height: 16px;
  margin-top: 5px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 16px;
  line-height: 16px;
  margin-top: 5px;
  float: right;

}

p {
  font-size: 16px;
  line-height: 16px;
  margin-top: 5px;
}

a {
  text-decoration: none;
  margin-top: 5px;
  display: block;
}

a:hover {
  color: #6684a3;
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#header {
  background-color: #b2c1d1;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

/*margin at the top and the bottom to have enough space for the list of skills*/
.biopic {
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width: 200px;
  display: none;
}

/*to put one skill below the other as a list*/
#skills {
  display: block;
  list-style-type: square;
  list-style-position: inside;
}

.bold-text {
  font-weight: bold;
}

.blue-text {
  font-style: italic;
}

.colored-links {
    color: #1199c3;
}

.welcome-message {
  font-size: 18px;
  color: #b2c1d1;
  text-shadow: 2px 2px 5px #036;
  line-height: 28px;
  float: left;
}

.gray {
  background-color: #f3f2ee;
  padding-bottom: 10px;
  clear:both;
}

.footer {
  background-color: #b2c1d1;
}

.dark-blue {
  background-color: #036;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
